<div class="container">
<div class="row">
<div class="col-md-12">
	<div class="search-container">
	<%= form_tag(vendors_result_path , :method => "get", id: "search-form") do %>
	<%= text_field_tag :search,params[:search], placeholder: "Search Posts"%>
	<%= button_tag "Search", :class => "search-btn"%>
    <% end %>
	</div>

	<div class="view-all-container">
     find vendor here
	 <span><%= link_to "view all", {:controller => "vendors", :action => "all"}, :class=>"view" %></span>
	</div>
</div>
</div>
<hr>
