@import 'bootstrap';
@import "font-awesome";

body{
	/*
	background: url(bg.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-siz:cover;
	-o-background-size:cover;
	*/
	background:#EEEEEE; 
}

/*---------------------assets style----------------------*/

.search-container{
	margin-top:320px;
	text-align: center;
}
input[type="text"]{
    width:60%;
    height:60px; 
    padding:10px; 
    background:#CFD8DC; 
    border: none;
}
.search-btn{
	border: none;
	padding:20px 30px; 
	margin-left:-4px;
	background:#455A64;
	color:#fff;
	font-weight: bold; 
	letter-spacing:1px; 
}
.view-all-container{
	color:#fff;
	letter-spacing:1px;
	text-align: center;
	margin-top:10px !important; 

 	.view{
		color:#66BB6A;
 	}
}

.form{
	margin-top:120px; 
}

.box img{
	width:100%;
    height:auto; 
    border-top-left-radius: 7px;
    border-top-right-radius:7px;

}

 
 ul{
 	list-style: none;
 }
 li{
 	padding:5px; 
 	margin-left:-40px; 
 	color:#B0BEC5;
 	border-bottom: 1px solid #E0E0E0;
 }
span{
	font-weight:bold; 
	color:#90A4AE; 
}

/*------------result page style------------------*/
.result_wrapper{
	margin-top:130px;  
}
footer{
	color:#fff;
	text-align: center;
	letter-spacing:1px; 
}
hr{
	opacity:0.4; 
}

 .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

/* header menu style*/
.navbar-fixed-top{
	background:rgba(0,0,0,0.8);
	height:120px; 
	border:1px solid #000; 
}
.nav {

	li a{
		margin:8px;
		color:#fff !important;
		font-weight:bold; 

	}
}

/*-----------------login style form------------ */

.header-login{
	margin-bottom: 20px;
	color:#fff;
}

.checkbox{
	margin-left:21px;
	color:#fff; 
}
.min-pass{
	margin-bottom:9px !important; 
}
.form-control{
	margin-bottom: 10px;
	height:50px; 
}

.login-con{
	padding:30px;
	background:#455A64; 

}
.link {
 margin-top:10px; 
  a{
	color:#fff; 
	margin-top:10px; 
  }
}

/*--------------------like masonry style ------------------*/

*, *:before, *:after {box-sizing:  border-box !important;}


.row1 {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.row1 > .col-md-4 {
 display: inline-block;
 padding:  .33rem;
 width:  100%; 
 float:none;
}

.well {
 position:relative;
 display: block;
}

/*--------------------------@meida style---------------------*/

 @media(min-width:980px) {
	.login-con{
		width:50%;
		margin: auto;
		margin-top:220px;

	}
}
 @media(min-width:768px) {
	.login-con{
		width:50%;
		margin: auto;
		margin-top:220px;
	}
}




